# .gitignore

# Python cache
__pycache__/
*.pyc

# Virtual environments
.env/
.venv/
env/
venv/

# Output files
data/detection/
data/logs/
data/models/
data/captures/
data/processed/
data.nosync/

# Public datasets uncompiled
data/public_datasets/cicids2017/
data/public_datasets/nsl-kdd/
data/public_datasets/unsw-nb15/

# Testing scripts
scripts/

# IDE configs
.vscode/
.idea/

# OS artifacts
.DS_Store

# Build artifacts
dist/
build/
*.egg-info/

# Git attributes file (used for git lfs)
.gitattributes

# Claude .md
CLAUDE.md
